:root {
  /* Colours */
  --color-bg: #eef2ec; /* page background /*

  /* Header */
  --color-head-bg: black;

  /* Logotype */
  --color-logotype-bg: #eef2ec;
  --color-text-logotype: #f5e9dd;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: eef2ec;
  /* Links */
  --color-link-bg: #eef2ec;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: black;
  --color-headline-text-page: white;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: white;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: white;
  --color-cta-card-bg: #ccc000;
  /* news-cards */
  --color-news-bg: #ddc6d0;
  --color-news-bg-inverted: #ddc6d0;
  --color-cta-newscard-bg: black;
  --color-cta-newscard-bg-inverted: black;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: white;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
